body {
  background-color: red;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#score {
  font-size: 24px;
  font-weight: bold;
  font-family: 'arial';
}

button {
  background-color: black;
  border: none;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;  
  border-radius: 30px;
  padding: 18px 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}


#mask {
  position: absolute;
  /* align center */
  top: 5%;
  left: 40% ;
}